RelaxNG/latex-custom17.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="latex-document.rng"/>
  <!-- LaTeX play -->
  <define name="Span" combine="choice">
    <element name="SceneDescription">
      <ref name="pdf2-attributes"/>
      <attribute name="rolemaps-to">
        <value>Span</value>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="Strong" combine="choice">
    <element name="Speaker">
      <ref name="pdf2-attributes"/>
      <attribute name="rolemaps-to">
        <value>Strong</value>
      </attribute>
      <text/>
    </element>
  </define>
  <!-- asmeconf -->
  <define name="Div" combine="choice">
    <element name="Conference_information">
      <ref name="showtags-attributes"/>
      <attribute name="rolemaps-to">
        <value>Div</value>
      </attribute>
      <optional>
        <attribute name="id"/>
      </optional>
      <zeroOrMore>
        <ref name="text-unit"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="Div" combine="choice">
    <element name="Author_Affiliation">
      <ref name="showtags-attributes"/>
      <attribute name="rolemaps-to">
        <value>Div</value>
      </attribute>
      <optional>
        <attribute name="id"/>
      </optional>
      <zeroOrMore>
        <ref name="text-unit"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="Div" combine="choice">
    <element name="Affiliation">
      <ref name="showtags-attributes"/>
      <attribute name="rolemaps-to">
        <value>Div</value>
      </attribute>
      <optional>
        <attribute name="id"/>
      </optional>
      <zeroOrMore>
        <ref name="text-unit"/>
      </zeroOrMore>
    </element>
  </define>
</grammar>
