RelaxNG/latex-test.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="ua2">
    <externalRef href="latex-bible.rng"/>
  </define>
  <define name="ua1">
    <externalRef href="latex-bible17.rng"/>
  </define>
  <define name="ua2custom">
    <externalRef href="latex-custom.rng"/>
  </define>
  <define name="ua1custom">
    <externalRef href="latex-custom17.rng"/>
  </define>
  <define name="talk">
    <externalRef href="ltx-talk.rng"/>
  </define>
  <start>
    <choice>
      <ref name="ua2"/>
      <ref name="ua1"/>
      <ref name="ua2custom"/>
      <ref name="ua1custom"/>
      <ref name="talk"/>
    </choice>
  </start>
</grammar>
