RelaxNG/pdfa-ua1.rnc



namespace NoNS = ""
namespace pdf1 = ""
namespace pdf2 = ""
namespace Layout = "http://iso.org/pdf/ssn/Layout"
namespace PrintField = "http://iso.org/pdf/ssn/PrintField"

include "document-pdf-ua1.rnc" {

StructTreeRoot = element NoNS:StructTreeRoot {( Document|DocumentFragment|Part|Art|Div|Sect|TOC|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Link|Annot|Form|FENote|Index|L|Figure|Formula|Artifact)*}


# no Annot but allow text|Span??
document.n =
   (text|Span|Document|DocumentFragment|Annot|Part|Art|Div|Sect|TOC|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Title|Link|Form|FENote|Index|L|Table|Figure|Formula|Artifact)



Form = element Form {
  pdf2-attributes,
  attribute Layout:Width {text}?,
  attribute Layout:Height {text}?,
  attribute PrintField:Checked {text}?,
  attribute PrintField:checked {text}?,
  attribute PrintField:Desc {text}?,
(
(attribute PrintField:Role {text},
(Caption? & (Part|Div|NonStruct|Private|Note|Code|Lbl|Reference|FENote|L|BibEntry|Table|Figure|Formula|Artifact))*)
|
text
)
}

# Table, TOC, Sect,P,L in Span
Span = element pdf2:Span {
pdf2-attributes,
(text|Table|TOC|Sect|P|L|Hn|Document|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)*
}

Sect = element pdf2:Sect{
   pdf2-attributes,
   (H? &
   (text|Document|DocumentFragment|Part|Art|Div|Sect|TOC|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Title|Lbl|Link|Annot|Form|FENote|Index|L|Table|Caption|Figure|Formula|Artifact|Span)*)
   }

sechead.content =
  pdf2-attributes,
  (Art?&Sect?&(text|P|Table|TOC|L|Hn|Document|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)*)

P = element pdf2:P {
pdf2-attributes,
(text|TOC|Sect|P|Hn|Document|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Table|Figure|Formula|Artifact)*
}


Link = element pdf2:Link {
pdf2-attributes,
(
(DocumentFragment|Document|TOC|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Sub|Lbl|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Table|Caption|Figure|Formula|Artifact|
mathse)* # Grouping
|
(text|Art|Div|Sect|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Reference|Annot|Ruby|Warichu|FENote|BibEntry|Table|Figure|Formula|Artifact|
mathse)* # 
)
}

LI = element pdf2:LI {
  pdf2-attributes,
  (Div|NonStruct|Private|Lbl|LBody|Artifact)*
 }

LBody = element pdf2:LBody {
pdf2-attributes,
(H?&Caption?&
(text|TOC|Document|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)*)
 }

Annot = element pdf2:Annot {
pdf2-attributes,
(
(DocumentFragment|Document|TOC|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Sub|Lbl|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Table|Caption|Figure|Formula|Artifact)* # Grouping
|
(text|Art|Div|Sect|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Annot|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)* # 
)}


}